:root {
    --primary: white;
    --primary-2: #d3d0cb;
    --secondary: #EDCAB0;
    --secondary-2: #e7bb41;
    --hover: #44bba4;
    --text-base: #000000;
    --text-primary: #000000;
    --text-secondary: white;
    --font-sans: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
}

[data-theme='dark'] {
    --primary: black;
    --primary-2: #26547D;
    --secondary: #617073;
    --secondary-2: #92BCEA;
    --hover: #afb3f7;
    --text-base: white;
    --text-primary: white;
    --text-secondary: black;
}