:root {
  --primary: white;
  --primary-2: black;
  --secondary: #19e3e3;
  --secondary-2: #ef76f5;
  --hover: #44bba4;
  --text-base: #000000;
  --text-primary: #000000;
  --text-secondary: white;
  --font-sans: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
}

[data-theme='dark'] {
  --primary: black;
  --primary-2: white;
  --secondary: #19e3e3;
  --secondary-2: #ef76f5;
  --hover: #afb3f7;
  --text-base: white;
  --text-primary: white;
  --text-secondary: black;
}

/* Replace default browser styling for auto fill fields */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--primary) inset;
  -webkit-text-fill-color: var(--text-base);
}

input::-webkit-contacts-auto-fill-button {
  background-color: var(--text-base);
}
